.form main {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.form input,
.form select {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    padding: 20px 2px 0px;
    color: #595f6e;
    border: none;
    outline: 0;
}
.form select {
	background: #fff;
}
.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 300ms ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 300ms ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 14px;
}
.form input:focus + .label-name .content-name {
    color: #5fa8d3;
}
.form input:focus + .label-name::after {
    transform: translateX(0%);
}


button, .button {
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    margin-top: 1px;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 500ms ease;
}

button:hover,
.button:hover {
    border: 1px solid rgb(108, 21, 190);
    filter: grayscale(1);
}

button:focus,
.button:focus {
    border: 1px solid rgb(190, 21, 21);
}

.form textarea {
	resize: vertical;
	min-height: 70px;
	max-height: 100px;
}
.form .textarea .content-name {
	top: 10px;
}
.form textarea:focus + .label-name .content-name,
.form textarea:valid + .label-name .content-name {
    transform: translateY(-10px);
    font-size: 14px;
}
.form textarea:focus + .label-name .content-name {
    color: #5fa8d3;
}
.form textarea:focus + .label-name::after {
    transform: translateX(0%);
}

.form input, .form textarea, .form select  {
    width: 100%;
    height: 45px;
    font-size: 1.2em;
    padding: 20px 2px 0px;
    color: #595f6e;
    border: none;
    outline: 0;
}